#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        L0Backspace: L0Backspace {
            compatible = "zmk,behavior-mod-morph";
            label = "L0BACKSPACE";
            bindings = <&lt 2 BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        L0conma: L0conma {
            compatible = "zmk,behavior-mod-morph";
            label = "L0CONMA";
            bindings = <&mt RIGHT_ALT COMMA>, <&kp EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        L0period: L0period {
            compatible = "zmk,behavior-mod-morph";
            label = "L0PERIOD";
            bindings = <&mt RIGHT_CONTROL PERIOD>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        L0Lng1orLng2: L0Lng1orLng2 {
            compatible = "zmk,behavior-tap-dance";
            label = "L0LNG1ORLNG2";
            #binding-cells = <0>;
            bindings = <&kp LANG1>, <&kp LANGUAGE_2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none  &none               &none           &none          &none                                       &none        &none  &none     &none      &none      &none
&none  &kp Q  &kp W               &kp E           &kp R          &kp T                                       &kp Y        &kp U  &kp I     &kp O      &kp P      &none
&none  &kp A  &kp S               &kp D           &kp F          &kp G      &none           &none            &kp H        &kp J  &kp K     &kp L      &kp MINUS  &none
&none  &kp Z  &mt LEFT_CONTROL X  &mt LEFT_ALT C  &kp V          &kp B      &kp LEFT_SHIFT  &kp RIGHT_SHIFT  &kp N        &kp M  &L0conma  &L0period  &kp SLASH  &none
&none  &none  &kp LEFT_WIN        &none           &L0Lng1orLng2  &kp SPACE  &kp TAB         &L0Backspace     &lt 1 ENTER  &none  &none     &none      &none      &none
            >;
        };

        layer_1 {
            bindings = <
&none  &none         &none         &none         &none           &none                    &none  &none           &none           &none            &none         &none
&none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4    &kp N5                   &none  &none           &kp UP          &none            &bt BT_SEL 0  &none
&none  &kp NUMBER_6  &kp N7        &kp N8        &kp N9          &kp N0     &none  &none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &bt BT_SEL 1  &none
&none  &kp PLUS      &kp MINUS     &kp ASTERISK  &kp SLASH       &kp EQUAL  &none  &none  &none  &none           &none           &none            &bt BT_SEL 3  &none
&none  &none         &none         &none         &kp LANGUAGE_2  &kp F7     &none  &none  &none  &none           &none           &none            &none         &none
            >;
        };

        layer_2 {
            bindings = <
&none  &none  &none            &none                  &none              &none                            &none  &none  &none  &none  &none  &none
&none  &none  &none            &none                  &none              &none                            &none  &none  &none  &none  &none  &none
&none  &none  &kp LEFT_BRACE   &kp LEFT_PARENTHESIS   &kp LEFT_BRACKET   &kp SINGLE_QUOTE   &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp DOUBLE_QUOTES  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none            &none                  &none              &none              &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
